<div class="container">
  <div class="go-back">
    <a href="/">Go back</a>
  </div>

  <div class="chart-wrapper">
    <div class="chart">
      <canvas id="chart-data-points"></canvas>
    </div>
  </div>

  <div class="chart-wrapper">
    <div class="chart">
      <canvas id="chart-altitude-cross-section"></canvas>
    </div>
  </div>

  <div class="chart-wrapper">
    <div class="chart">
      <canvas id="chart-planes"></canvas>
    </div>
  </div>

  <div class="chart-wrapper">
    <div class="chart">
      <canvas id="chart-range"></canvas>
    </div>
  </div>

</div>
