<div class="main-container">
  <app-pageheader title="Stats" fontAwesome="fa-bar-chart"></app-pageheader>

  <div class="wrapper">
    <div class="chart">
      <canvas id="chart-data-points"></canvas>
    </div>
  </div>

  <div class="wrapper">
    <div class="chart">
      <canvas id="chart-altitude-cross-section"></canvas>
    </div>
  </div>

  <div class="wrapper">
    <div class="chart">
      <canvas id="chart-planes"></canvas>
    </div>
  </div>

  <div class="wrapper">
    <div class="chart">
      <canvas id="chart-range"></canvas>
    </div>
  </div>

</div>
