<div id="container">
  <div id="map" class="map"></div>
  <app-sidebar *ngIf="selectedPlane" [plane]="selectedPlane" [planeHistory]="selectedPlaneHistory"></app-sidebar>
  <footer>
    <div class="wrapper">
      <ul class="layer-buttons">
        <li *ngFor="let al of availableLayers" [ngClass]="{'hidden': al.layer.getVisible() === false}" title="{{al.title}}" (click)="al.onClick()">
          <i class="fa {{al.faIcon}}"></i>
        </li>
      </ul>
      <ul class="layer-buttons-range range-hidden">
        <li id="range-button-from" title="Lower time boundary"><i class="fa fa-caret-left"></i></li>
        <li id="range-button-to" title="Upper time boundary"><i class="fa fa-caret-right"></i></li>
        <li id="range-button-apply" title="Apply the time boundary"><i class="fa fa-check"></i></li>
      </ul>
      <input id="range-input-from" type="hidden">
      <input id="range-input-to" type="hidden">
      <div class="links">
        <span>{{ renderedPlanes }} planes + {{ skippedPlanes }} with unknown position</span>
        &bull;
        <a href="/stats">Stats</a>
      </div>
    </div>
  </footer>
</div>
