$primary-color: #65c6bb;
$border-color: #dadfe1;
$text-color-dimmed: #999;
$sidebar-width: 300px;
$text-color-dimmed: #999;

html, body {
    font-family: sans-serif;
    height: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background-color: #000;
}

#site {
    min-height: 100%;
}

.content {
    padding: 1em;

}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

#site{
    min-height: 100%;
}

#site>div:last-child{
    padding-bottom: 4em; /* 3em footer + 1em padding */
}

.map {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.sidebar {
    width: $sidebar-width;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    border-left: 1px solid $border-color;
    padding: 1em;
    display: none;
    overflow-y: auto;
    word-wrap: break-word;

    h2 {
        border-bottom: 1px solid $border-color;
        margin-top: 0;

        .coords {
            font-size: 10px;
            float: right;
            display: inline-block;
        }
    }

    .metar {
        font-size: 10px;
        text-align: center;
    }

    ul {
        margin: 0;
        padding: 0;

        span {
            color: $text-color-dimmed;
            display: inline-block;
            min-width: 6em;
        }
    }

    table {
        width: 100%;
        thead {
            color: $text-color-dimmed;
        }
    }

    .loading-indicator, .error-indicator {
        margin: 0 auto;
        font-size: 25px;
        text-align: center;
    }

    .loading-indicator {
        color: $text-color-dimmed;
    }

    .error-indicator {
        i {
            color: #ff0000;
        }

        div {
            color: $text-color-dimmed;
            font-size: 15px;
        }
    }
}

.coords:hover {
    cursor: pointer;
    text-decoration: underline;
}

.stats{
    display: flex;
    flex-flow: row wrap;
    margin: 0;

    h3 {
        margin: 0;
        font-weight: normal;
    }

    li {
        flex: 1;
        padding: 5px;
        min-width: 200px;
        box-sizing: border-box;

        >div {
            box-sizing: border-box;
            background-color: #fff;
            padding: 1em;
            border: 1px solid $border-color;
            height: 100%;
        }

        .value {
            text-align: center;
            font-size: 30px;
        }
    }
}

.chart-container{
    padding: 5px;

    .chart{
        width: 100%;
        border: 1px solid $border-color;
        padding: 1em;
        box-sizing: border-box;
        background-color: #fff;
    }

    #chart{
        height: 600px;
    }
}

#last-update-info {
    color: $text-color-dimmed;
    margin-left: 5px;
}

.dimmed {
    color: $text-color-dimmed;
}

footer {
    padding: 1em;
    color: $text-color-dimmed;
    line-height: 1;
    margin-top: -3em;
    position: relative;

    .links {
        vertical-align: top;
        display: inline-block;
        text-shadow: #333 1px 1px 5px;
    }

    a {
        color: inherit;
    }
}

#body-index footer {
    color: #fff;
    max-width: none;
    position: absolute;
    bottom: 0;

    .links {
        margin-top: 9px;
        margin-left: 1em; 
    }
}

a {
    text-decoration: none;
    color: $primary-color;
}

a:hover {
    text-decoration: underline;
    color: $primary-color;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
}

.nojs-main {
    margin: 1em auto 0;
    border: 1px solid $border-color;
    max-width: 800px;
    padding: 1em;

    .wrapper {
    }
}

.link-back {
    float: right;
    font-size: 12px;
    text-transform: uppercase;
}

.flot-text {
    color: $text-color-dimmed !important;
}

.layer-buttons, .layer-buttons-range {
    text-align: center;
    display: inline-block;
    border: 0;
    margin: 0;

    li {
        display: block;
        float: left;
        margin: 1px;
        padding: .5em;
        width: 1em;
        height: 1em;
        cursor: pointer;
    }

    li:hover, li.hidden {
        background-color: #fff;
        color: #000;
    }

    li, li.hidden:hover {
        color: #fff;
    }
}

.layer-buttons {
    li, li.hidden:hover {
        background-color: $primary-color;
    }
}

.layer-buttons-range {
    li, li.hidden:hover {
        background-color: #e67e22;
    }
}

.range-hidden.hidden {
    display: none;
}
