<div *ngIf="plane" class="wrapper">
  <h2>
    <i class="fa fa-plane"></i> 
    <span>{{plane.flight_number || "No callsign"}}</span>
    <a class="plane-view-link" href="/plane/{{plane.icao}}">
      <i class="fa fa-info"></i>
    </a>
  </h2>

  <ul>
    <li>
      <span class="dimmed">Position:</span> 
      <app-coords [latitude]="plane.latitude" [longitude]="plane.longitude"></app-coords>
    </li>
    <li>
      <span class="dimmed">ICAO:</span>
      {{plane.icao}}
    </li>
    <li>
      <span class="dimmed">Flight:</span>
      {{plane.flight_number || "No callsign"}}
    </li>
    <li>
      <span class="dimmed">Squawk:</span>
      {{("00000"+plane.transponder_code).slice(-4)}}
    </li>
    <li>
      <span class="dimmed">Heading:</span>
      {{plane.heading}}
    </li>
    <li>
      <span class="dimmed">Speed:</span>
      {{plane.speed}} <span class="dimmed">knots</span>
    </li>
    <li>
      <span class="dimmed">Altitude:</span>
      {{plane.altitude}}
      <span class="dimmed">feet</span>
    </li>
  </ul>

  <div class="chart">
    <canvas id="chart-speed-altitude"></canvas>
  </div>

  <div *ngIf="!previouslySeen" class="loading-indicator"><i class="fa fa-spinner fa-spin"></i></div>
  <div *ngIf="previouslySeen">
    <h3>Previous sightings</h3>
    <table class="previous-sightings">
      <thead>
        <tr>
          <td>Time</td>
          <td>Flights</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let previous of previouslySeen">
          <td *ngIf="previous.daysAgo == 0">today</td>
          <td *ngIf="previous.daysAgo != 0">{{previous.daysAgo}} days ago</td>
          <td>
            <table>
              <tr *ngFor="let flight of previous.flights"><td>{{flight}}</td></tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
