@import "variables.scss";

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background-color: $background-color;
    min-height: 100%;
}

.dimmed {
    color: $text-color-dimmed;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $primary-color;
}

a:hover {
    text-decoration: underline;
}

.main-container {
  padding: 1em;

  >.wrapper {
    margin: 1em 0;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #dadfe1;
  }
}
